[submodule "ansible/roles/k8s"]
	path = ansible/roles/k8s
	url = git@gitlab.com:patchme/ansible-k8s-roles.git
[submodule "ansible/roles/docker-rootless"]
	path = ansible/roles/roles/docker-rootless
	url = git@gitlab.com:patchme/ansible-docker-rootless.git
