[submodule "ansible/roles/k8s"]
    path = ansible/roles/k8s
    url = git@gitlab.com:patchme/ansible-k8s-roles.git
[submodule "ansible/roles/docker-rootless"]
	path = ansible/roles/roles/docker-rootless
	url = git@gitlab.com:patchme/ansible-docker-rootless.git
[submodule "ansible/roles/k8s-gateway-api"]
	path = ansible/roles/k8s-gateway-api
	url = git@gitlab.com:patchme/ansible-k8s-gateway-api-creation.git
[submodule "ansible/roles/k8s-longhorn"]
	path = ansible/roles/k8s-longhorn
	url = git@gitlab.com:patchme/ansible-k8s-longhorn-creation.git
[submodule "ansible/roles/k8s-network"]
	path = ansible/roles/k8s-network
	url = git@gitlab.com:patchme/ansible-k8s-network-creation.git
[submodule "ansible/roles/containerd"]
	path = ansible/roles/containerd
	url = git@gitlab.com:patchme/ansible-role-containerd.git
[submodule "ansible/roles/window_manager"]
	path = ansible/roles/window_manager
	url = git@gitlab.com:patchme/ansible-window-manager.git
